* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* SLIDES */
.slides img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
}

.slides img.active {
  opacity: 1;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  color: white;
  padding: 20px;
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.2);
}

/* CONTENT */
.hero-content {
  position: relative;
  
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

/* GLASS EFFECT */
.glass-box {
  backdrop-filter: blur(8px);
  background: rgba(255,255,255,0.2);
  padding: 40px;
  border-radius: 30px;
  color: white;
  max-width: 1200px;
  width: 100%;
  transition: all 0.5s ease;
}

/* TITLE */
.glass-box h1 {
  font-size: 42px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
}

.highlight {
  color: #FEB14C;
  
}

/* ROW */
.content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* DESCRIPTION */
.content-row p {
  margin-top: 15px;
  font-size: 18px;
  opacity: 0.8;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 600px;
}

/* BUTTON */
.explore-btn {
  margin-top: 20px;
  background: white;
  color: black;
  padding: 12px 24px;
  border-radius: 999px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  /* 🔥 Golden shadow + glow */
  box-shadow: 
    0 8px 20px rgba(254, 177, 76, 0.6),   /* bottom shadow */
    -4px 0 15px rgba(254, 177, 76, 0.5),  /* left glow */
    4px 0 15px rgba(254, 177, 76, 0.5);   /* right glow */
}
.explore-btn:hover {
  transform: scale(1.05);
}

/* DOTS */
.dots {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dots div {
  width: 12px;
  height: 4px;
  border-radius: 10px;
  background: rgba(255,255,255,0.4);
  transition: 0.3s;
}

.dots .active {
  background: white;
  transform: scale(1.2);
}

/* DELIVERY */
.delivery {
  position: absolute;
  right: 20px;
  bottom: 100px;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

/* BOTTOM MENU */
.bottom-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 15px;
  text-align: center;
}